{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title> Home </title>

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    </head>
    <body>
    <h1> Open both the pages in the browser <br>
    Every time you refresh the page, A notification is sent to the home page <br>
    Please check the views.py for the code which sends the notification.  </h1>

 


    </body>
</html>
